.records-svg {
  .st0 {
    fill: #071515;
  }
  .st1 {
    fill: #111a21;
  }
  .st2 {
    fill: #121b23;
  }
  .st3 {
    fill: #16222c;
  }
  .st4 {
    fill: #ffffff;
  }
  .st5 {
    fill: #1d8efb;
  }
  .st6 {
    fill: #1668b7;
  }
  .st7 {
    fill: #389583;
  }
  .st8 {
    fill: #1a5692;
  }
  .st9 {
    fill: #5bdb94;
  }
}
