@import '~/lib/vars';

.home {
  position: relative;
  top: calc(-1 * var(--menu-height));

  .step {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: var(--blue-primary);
    padding: 150px 50px;

    > {
      h1,
      div,
      svg {
        // width: 50%;
        // margin: 0 30px;
        // max-height: 50vh;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      button {
        color: var(--green-primary);
        border-color: var(--green-primary);
      }
    }
    &.records-step {
      svg {
        width: 300px;
        overflow: visible;
      }
    }
    &.sliders-step {
      background-color: #01e08f;
      h1 {
        color: #05396b;
      }
      svg {
        max-height: 40vh;
      }
      button {
        color: var(--blue-primary);
        border-color: var(--blue-primary);
      }
    }
    &.headphones-step {
      padding-bottom: 150px;
      svg {
        width: 35%;
      }
    }
  }

  @media only screen and (max-width: $desktop) {
    .step {
      flex-wrap: wrap;

      > h1,
      div {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
      }
      svg {
        margin: 0 auto;
      }
      &.sliders-step {
        flex-direction: column-reverse;
      }
    }
  }
  @media only screen and (max-width: $laptop) {
    .step {
      h1 {
        font-size: 55px;
      }
      svg {
        max-height: 25vh;
      }
    }
  }
}
