@import '~/lib/vars';

nav.menu {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--menu-height);
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  align-items: center;
  #logoLockup {
    display: flex;
    align-items: center;
    gap: 10px;
    .spotify-link {
      img {
        height: 30px;
      }
    }
    .home-link img {
      height: 25px;
      margin-top: 4px;
    }
    .pipeBar {
      width: 2px;
      height: 35px;
      background-color: white;
    }
  }
  a {
    color: #ffffff;

    button {
      vertical-align: top;
      margin-top: 15px;
      margin-right: 10px;
      background-color: var(--green-primary);

      svg {
        vertical-align: top;
        margin-top: 2px;
      }
    }
    img {
      vertical-align: middle;
    }
  }

  @media only screen and (max-width: $tablet) {
    button span,
    .spotify-link {
      display: none;
    }
  }
}
